:root {
  /* ================== */
  /* COLOR PALETTES     */
  /* ================== */
  
  /* Palette 1: Blue (Default) */
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  
  /* Palette 2: Emerald */
  --emerald-500: #10b981;
  --emerald-600: #059669;

  /* Palette 3: Purple */
  --purple-500: #8b5cf6;
  --purple-600: #7c3aed;

  /* Palette 4: Orange */
  --orange-500: #f97316;
  --orange-600: #ea580c;


  /* ================== */
  /* DEFAULT THEME (LIGHT)*/
  /* ================== */
  --bg-base: #ffffff;
  --bg-surface: #f9fafb;
  --bg-input: #ffffff;
  --border-color: #e5e7eb;
  
  --text-base: #111827;
  --text-muted: #6b7280;

  --success-bg: #dcfce7;
  --success-border: #22c55e;
  --success-text: #15803d;

  --error-bg: #fee2e2;
  --error-border: #ef4444;
  --error-text: #b91c1c;

  /* Default Primary Color (Blue) */
  --primary: var(--blue-500);
  --primary-hover: var(--blue-600);
}

/* ================== */
/* DARK THEME         */
/* ================== */
[data-theme="dark"] {
  --bg-base: #111827;
  --bg-surface: #1f2937;
  --bg-input: #374151;
  --border-color: #4b5563;
  
  --text-base: #f9fafb;
  --text-muted: #9ca3af;

  --success-bg: rgba(22, 101, 52, 0.2);
  --success-border: #166534;
  --success-text: #4ade80;

  --error-bg: rgba(153, 27, 27, 0.2);
  --error-border: #991b1b;
  --error-text: #f87171;
}

/* ================== */
/* DYNAMIC PALETTES   */
/* ================== */
[data-color="blue"] {
  --primary: var(--blue-500);
  --primary-hover: var(--blue-600);
}

[data-color="emerald"] {
  --primary: var(--emerald-500);
  --primary-hover: var(--emerald-600);
}

[data-color="purple"] {
  --primary: var(--purple-500);
  --primary-hover: var(--purple-600);
}

[data-color="orange"] {
  --primary: var(--orange-500);
  --primary-hover: var(--orange-600);
}

/* ================== */
/* GLOBAL STYLES      */
/* ================== */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-base);
  color: var(--text-base);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Reseteamos el autocompletado del navegador para que no rompa nuestro theme dark */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--bg-input) inset !important;
    -webkit-text-fill-color: var(--text-base) !important;
}
